---
import { SITE_TITLE } from "~/consts/meta";
import { Image } from "@astrojs/image/components";
import { Menu } from "./menu/Menu";
import { PageType, PAGES_TO_LABEL_MAP } from "~/consts/page";

interface Props {
  page: PageType;
}

const { page } = Astro.props;
---

<header>
  <div>
    <a href="/">
      <Image
        alt="ヒグマ"
        width={80}
        height={80}
        src="/bear.png"
        format={"png"}
      />
    </a>
    <h2>
      {SITE_TITLE}
      <span>/</span>
      {PAGES_TO_LABEL_MAP[page]}
    </h2>
    <Menu page={page} client:load />
  </div>
</header>
<style>
  header {
    background-color: #fff;
    height: 56px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    border-bottom: 1px solid #f2f2f2;
  }
  div {
    display: flex;
    height: 56px;
  }
  span {
    font-weight: 300;
    color: #747474;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 8px 0 8px 8px;
    border-radius: 20px;
  }
  h2 {
    margin: 0 12px;
    font-family: "Noto sans JP", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 0;
  }

  @media screen and (min-width: 768px) {
    header {
      height: 64px;
    }
    div {
      width: 768px;
      height: 64px;
      margin: 0 auto;
    }
    h2 {
      font-size: 24px;
      padding: 20px 0;
    }
    img {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
  }
</style>
