---
import HeadSEO from "./HeadSEO.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "~/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadSEO title={title} description={description} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
