---
import Layout from "~/components/layouts/Layout.astro";
import TitleSection from "~/components/note-detail/TitleSection.astro";
import { getCollection, CollectionEntry } from "astro:content";

// TODO: Recommend Items

type Props = {
  note: CollectionEntry<"notes">;
};

export async function getStaticPaths() {
  const noteEntries = await getCollection("notes");
  return noteEntries.map((note) => {
    return {
      params: { note_id: note.slug, category: note.data.category },
      props: { note },
    };
  });
}
const { note } = Astro.props;
const { Content } = await note.render();
---

<Layout page={"notes"}>
  <TitleSection noteItem={note.data} />
  <div class="content_wrapper">
    <Content />
  </div>
</Layout>

<style is:global>
  main {
    margin: 0;
  }
  .content_wrapper {
    background-color: #fff;
    margin: 20px 0;
    padding: 8px 16px;
    font-family: "Noto Sans JP", sans-serif;
  }
  h1 {
    margin: 0;
  }
  p {
    line-height: 1.8em;
  }
</style>
