---
import type { NoteType } from "~/schemas/note";
import RelatedNoteListItem from "~/components/note-detail/RelatedNoteListItem.astro";
import ProfileItem from "~/components/common/profile/ProfileItem.astro";
type Props = {
  relatedNoteList: NoteType[];
};
const { relatedNoteList } = Astro.props;
---

<div class="related_note_list_content_wrapper">
  <div class="related_note_list">
    {
      relatedNoteList.map((item) => {
        return <RelatedNoteListItem relatedNote={item} />;
      })
    }
  </div>
  <ProfileItem />
</div>
<style>
  .related_note_list_content_wrapper {
    margin: 8px;
  }
  .related_note_list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .related_note_list:after {
    /* margin-top: 8px; */
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    background: repeating-linear-gradient(
      to right,
      #fff 0,
      #fff 4px,
      #f2f2f2 4px,
      #f2f2f2 8px
    );
  }
  @media screen and (min-width: 768px) {
    .related_note_list {
      margin: 0;
      width: calc(768px + 16px);
    }
    .related_note_list_content_wrapper {
      margin-left: 0;
    }
  }
</style>
