---
type Props = {
  shareUrl: string;
};

const { shareUrl } = Astro.props;
---

<a href={shareUrl} target="_blank">
  <svg
    width={24}
    height={24}
    viewBox="0 0 17 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.29428 13.01C11.2914 13.01 14.5729 8.0032 14.5729 3.66867C14.5729 3.52781 14.5729 3.38695 14.5666 3.2461C15.2025 2.78511 15.7558 2.20248 16.1946 1.54302C15.6095 1.80552 14.9799 1.97839 14.3185 2.06162C14.9927 1.65826 15.5078 1.0116 15.7558 0.243297C15.1262 0.621048 14.4267 0.889956 13.6826 1.03721C13.0848 0.396959 12.239 0 11.3041 0C9.50433 0 8.04162 1.47259 8.04162 3.28451C8.04162 3.54062 8.07342 3.79032 8.1243 4.03361C5.41511 3.89916 3.01119 2.58663 1.40221 0.601841C1.12239 1.08844 0.963399 1.65186 0.963399 2.2537C0.963399 3.39336 1.54212 4.39856 2.41339 4.98759C1.87918 4.96839 1.37677 4.82113 0.937961 4.57783C0.937961 4.59064 0.937961 4.60344 0.937961 4.62265C0.937961 6.21048 2.06361 7.54222 3.55175 7.84314C3.27829 7.91997 2.99211 7.95838 2.69321 7.95838C2.48334 7.95838 2.27983 7.93918 2.08269 7.90076C2.49606 9.20688 3.70438 10.1545 5.12893 10.1801C4.00964 11.0636 2.60417 11.5886 1.07787 11.5886C0.817129 11.5886 0.556386 11.5758 0.302002 11.5438C1.73927 12.4658 3.45636 13.01 5.29428 13.01Z"
      fill={"#fff"}></path>
  </svg>
</a>

<style>
  a {
    display: inline-block;
    background-color: #1da1f2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  svg {
    margin: 8px 0;
  }
  @media screen and (max-width: 768px) {
    a {
      position: fixed;
      bottom: 16px;
      left: 8px;
    }
  }
  @media screen and (min-width: 768px) {
    a {
      position: fixed;
      left: calc((100vw - 768px + 8px) / 2 + 16px);
      bottom: 32px;
    }
  }
</style>
